page-home {
    .chart-gauge
    {
        width: 100%;
        height: 115px;
        margin: 10px auto  
    } 

    .chart-filled
    {
        fill: #ff7b00;
    }
    .chart-empty
    {
        fill: #dedede;
    }

    .needle, .needle-center
    {
        fill: #464A4F;
    }

    svg {
        font: 10px sans-serif;
    }
    .dashboard{
        z-index:-1;
        position:fixed;
    }
    .upcoming-events{
        background-color:#191919;
        margin-top:90%;
        z-index:2;
    }
    
}
